Source: evince
Section: gnome
Priority: optional
Maintainer: Marc 'HE' Brockschmidt <he@debian.org>
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>, Emilio Pozuelo Monfort <pochu@ubuntu.com>, Josselin Mouette <joss@debian.org>, Sebastian Dröge <slomo@debian.org>
Build-Depends: cdbs,
               debhelper (>= 5),
               intltool (>= 0.35.0),
               gnome-pkg-tools (>= 0.10),
               gnome-doc-utils (>= 0.3.2),
               libglib2.0-dev (>= 2.15.6),
               libgtk2.0-dev (>= 2.10.0),
               libglade2-dev,
               libnautilus-extension-dev,
               libgnome-keyring-dev (>= 0.4.0),
               libdbus-glib-1-dev (>= 0.33),
               librsvg2-dev (>> 2.14.4-2),
               gnome-icon-theme (>= 2.17.1),
               libxml-parser-perl,
               scrollkeeper,
               libxt-dev,
               libpoppler-glib-dev (>= 0.8),
               libdjvulibre-dev (>= 3.5.17),
               libkpathsea-dev,
               libtiff4-dev,
               zlib1g-dev,
               autotools-dev,
               libspectre-dev
Standards-Version: 3.8.0
Homepage: http://www.gnome.org/projects/evince/

Package: evince
Conflicts: evince-gtk
Replaces: evince-gtk
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gnome-icon-theme (>= 2.17.1),
         shared-mime-info
Recommends: dbus-x11
Provides: pdf-viewer,
          postscript-viewer,
          djvu-viewer,
          evince-gtk
Suggests: unrar, poppler-data
Description: Document (postscript, pdf) viewer
 Evince is a simple multi-page document viewer.  It can display and print
 PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and Portable
 Document Format (PDF) files.
 When supported by the document, it also allows searching for text,
 copying text to the clipboard, hypertext navigation, and
 table-of-contents bookmarks.

Package: evince-dbg
Priority: extra
Architecture: any
Depends: evince (= ${binary:Version})
Description: Document (postscript, pdf) viewer - debugging symbols
 Evince is a simple multi-page document viewer.  It can display and print
 PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and Portable
 Document Format (PDF) files.
 When supported by the document, it also allows searching for text,
 copying text to the clipboard, hypertext navigation, and
 table-of-contents bookmarks.
 .
 This package contains the debugging symbols needed by gdb.
