#!/usr/bin/make -f

DEB_BUILDDIR := $(CURDIR)/debian/build/evince
DEB_DESTDIR := $(CURDIR)/debian/tmp/
DEB_BUILDDIR_evince-gtk := $(CURDIR)/debian/build/evince-gtk
DEB_DESTDIR_evince-gtk := $(CURDIR)/debian/tmp-gtk

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk
include /usr/share/gnome-pkg-tools/1/rules/check-dist.mk
-include /usr/share/gnome-pkg-tools/1/rules/gnome-get-source.mk

DEB_CONFIGURE_EXTRA_FLAGS := --disable-scrollkeeper --enable-djvu \
			--enable-dvi --with-print=gtk --enable-pixbuf \
			--enable-comics --enable-impress --disable-gtk-doc

DEB_DH_MAKESHLIBS_ARGS += --exclude=libevince-properties-page.so

#cdbs should do this, but doesn't (see #424636)
clean::
	rm -rf $(DEB_BUILDDIR) $(DEB_BUILDDIR_evince-gtk)

configure/evince-gtk:: $(DEB_BUILDDIR_evince-gtk)/config.status
$(DEB_BUILDDIR_evince-gtk)/config.status:
	cd $(DEB_BUILDDIR_evince-gtk) && \
		$(DEB_CONFIGURE_SCRIPT_ENV) $(DEB_CONFIGURE_SCRIPT) \
			$(DEB_CONFIGURE_NORMAL_ARGS) \
			$(cdbs_configure_flags) \
			$(DEB_CONFIGURE_EXTRA_FLAGS) \
			--without-libgnome --disable-nautilus \
			$(DEB_CONFIGURE_USER_FLAGS) 

build/evince-gtk::
	make -C $(DEB_BUILDDIR_evince-gtk)

install/evince-gtk::
	make -C $(DEB_BUILDDIR_evince-gtk) install DESTDIR=$(DEB_DESTDIR_evince-gtk)

binary-install/evince::
	cp debian/evince.install.disabled debian/evince.install
	dh_install -pevince --sourcedir=$(DEB_DESTDIR)
	dh_installmime -pevince
	rm debian/evince.install
	dh_install -pevince debian/evince.xpm /usr/share/pixmaps/

binary-install/evince-dbg::
	rm -rf debian/evince-dbg/usr/share/doc/evince-dbg
	dh_link -pevince-dbg usr/share/doc/evince usr/share/doc/evince-dbg

binary-install/evince-gtk::
	cp debian/evince-gtk.install.disabled debian/evince-gtk.install
	dh_install -pevince-gtk --sourcedir=$(DEB_DESTDIR_evince-gtk)
	dh_installmime -pevince-gtk
	rm debian/evince-gtk.install
	dh_install -pevince-gtk debian/evince.xpm /usr/share/pixmaps/

binary-install/evince-gtk-dbg::
	rm -rf debian/evince-gtk-dbg/usr/share/doc/evince-gtk-dbg
	dh_link -pevince-gtk-dbg usr/share/doc/evince-gtk usr/share/doc/evince-gtk-dbg

binary-post-install/evince::
	# check for missing MIME types
	desktop-check-mime-types

